/* *****************************************
        FORMATO DE TAMAÑO MOBILE
****************************************** */
@font-face {
    font-family: 'Oraniembaum';
    src: url(fonts/Oranienbaum/Oranienbaum-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    overflow-x: hidden;
    font-family: Oraniembaum;
}

header{
    height: 120px;
    width: 100%;
    background-color:#EBC89E ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

a{
    text-decoration: none;
}

header a:hover{
    background-color: #EFE3D7;
    height: 120px;
}

header a{
    justify-self:auto;
    text-align: center;
    height: 100px;
    width: 200px;

    padding-top: 1.5em;
    color: #545454;

    font-size: 2em;
}

div#Principal{
    background-image: url(imagenes/Principal/LANDINGBASE.svg);

    background-size: cover;

    width: 100%;
    height: 654px;

    display: flex;
    flex-direction: row;
}


div#Principal div#logo{
    width: 70%;
    height: 654px;
}

div#Principal div#logo img{
    position: relative;
    top: 30px;
    left: 50px;

    width: 90%;
}

div#Principal div#eslogan{
    width: 60%;
    height: 654px;
}

div#Principal div#eslogan p{
    position: relative;
    top: 200px;
    left:10px;

    font-size: 2.5em;
    color: #B16150;
    text-align: center;
}

div.topVentas{
    height: 848px;
    width: 100%;

    background-color: #EFE3D7;

    display: flex;
    flex-direction: column;

    color: #B16150;
}

div.topVentas h1{
    position: relative;
    top: 30px;
    left: 420px;

    font-weight: 500;
    font-size: 2.7em;

    width: 200px;
}

div.topVentas div.uno-tres{
    position: relative;
    top: 60px;
    left: 100px;

    height: 200px;
    width: 839px;

    display: flex;
    flex-direction: row;
}

div.topVentas div.uno-tres div.imagen{

    width: 200px;
    height: 200px;
}

div.topVentas div.uno-tres div.imagen img{
    width: 200px;

    border-radius: 100%;
}

div.topVentas div.uno-tres div.contenido{
    margin: 1em;
    width: 291px;
    height: 78px;
}

div.topVentas div.dos{
    position: relative;
    top: 60px;
    left: 360px;

    height: 200px;
    width: 839px;

    display: flex;
    flex-direction: row;
}

div.topVentas div.dos div.imagen{
    position: relative;
    left: -50px;
    width: 200px;
    height: 200px;
}

div.topVentas div.dos div.imagen img{
    width: 250px;
    padding-top: 30px;

    border-radius: 100%;
}

div.topVentas div.dos div.contenido{
    margin: 1em;
    width: 291px;
    height: 78px;
}

div.topVentas div div.contenido h2{
    font-weight: 700;
    font-size:2em ;
}

div.topVentas div div.contenido p{
    width: 400px;
    font-size: 1.7em;  
}

div.categorias {
    width: 100%;
    height: 535px;

    background-color: #EBC89E;
    display: flex;

    text-align: center;
}

div.categorias h1{
    color: #B16150;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 2.7em;

    position: relative;
    top: 70px;
    left: 400px;
}

div.categorias div.contenedor{
    height: 240px;
    width: 170px;
    border-radius: 10%;
}

div.categorias div.contenedor:hover{
    transform: scale(1.1);
    box-shadow: -2px 2px 8px #DBA83A;
}

div.categorias div.contenedor#coral{
    background-color: #F4C9BC;

    position: relative;
    top: 200px;
    left: -160px;
}

div.categorias div.contenedor#morado{
    background-color: #E2BFD5;

    position: relative;
    top: 200px;
    left: -100px;
}

div.categorias div.contenedor#rosa{
    background-color:#F1C8D6 ;

    position: relative;
    top:200px;
    left: -40px;
}

div.categorias div.contenedor#verde{
    background-color: #D9E3D1;

    position: relative;
    top: 200px;
    left: 20px;
}

div.categorias div.contenedor img{
    width: 150px;
    height: 140px;

    margin: .5em;

    border-radius: 100%;
}

div.categorias div.contenedor h3{
    background-color: #FFFFFF;

    border-radius: 50%;

    width: 120px;
    height: 25px;
    margin-left: 1em;

    color: #B16150;
    text-align: center;
}

div.categorias div.contenedor p{
    position: relative;
    top: 20px;
    color: #B16150;
}

div.sobreNosotros {
    height: 720px;
    width: 100%;
    background-color: #EFE3D7;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: #B16150;
    gap: 20px; /* Añadimos espacio entre los elementos */
}

div.sobreNosotros h1{
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.7em;
}

div.sobreNosotros p {
    margin: 0;
    padding: 0;
    width: 70%; 
    text-align: center; 
    font-size: 1.5em;
}

div.sobreNosotros div.imagenes{
    flex-direction: row;
}

div.sobreNosotros img#centro{
    width: 350px;
    height: 350px;
}

div.sobreNosotros img#uno,div.sobreNosotros img#dos{
    position: relative;
    top: -50px;
}

div.sobreNosotros img {
    width: 250px; 
    height: 250px;
    border-radius: 10%; 
    padding: 12px;
}

div.sobreNosotros div.Contacto {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

div.sobreNosotros a{
    font-size: 1.5em;
    text-decoration: none;
    color: #B16150;
}

div.sobreNosotros a:hover{
    color: #F7BCF2;
}

footer{
    height: 356px;
    width: 100%;

    display: flex;
    flex-direction: row;
}

footer div.ContenidoPag{
    width: 1015px;
    height: 656;

    background-color: #EBC89E;

    color: #B16150;
}

footer div.ContenidoPag h3{

    margin: 1em;
}

footer div.ContenidoPag p{
    margin: 1em;
}

footer div.Marca{
    width: 450px;

    background-color: #EFE3D7;
}

footer div.Marca img{
    width: 298px;
    height: 252px;

    position: relative;
    top: 40px;
    left: 0px;
}


/* *****************************************
		FORMATO DE TAMAÑO DESKTOP
****************************************** */
	@media (min-width: 1440px) {
        header{
            height: 68px;
        }

        header a:hover{
            height: 68px;
        }

        header a{
            height: 30px;
            width: 200px;
            font-size: 1.5em;
            padding: 20px;
        }

        div#Principal div#logo img{
            top: 30px;
            left: 250px;
            width: 60%;
        }

        div#Principal div#eslogan{
            width: 50%;
            height: 654px;
        }

        div#Principal div#eslogan p{
            left:-70px;
            font-size: 1.7em;
        }

        div.topVentas h1{
            font-size: 2.5em;
            font-weight: 300;

            left: 640px;
        }

        div.topVentas div.uno-tres{
            left: 300px;
        
            height: 200px;
            width: 839px;
        }

        div.topVentas div.dos{
            position: relative;
            top: 60px;
            left: 600px;
        
            height: 200px;
            width: 839px;
        }

        div.topVentas div div.contenido p{
           width: 500px;
        }
        
        div.topVentas div div.contenido h2{
            font-weight: 300;
        }

        div.categorias h1{
            top: 70px;
            left: 640px;
        }

        div.categorias div.contenedor#coral{
            left: 0px;
        }
        
        div.categorias div.contenedor#morado{
            left: 100px;
        }
        
        div.categorias div.contenedor#rosa{
            left: 200px;
        }
        
        div.categorias div.contenedor#verde{
            left: 300px;
        }
		
        div.sobreNosotros h1{
            position: relative;
            left: 0px;
        }

        div.sobreNosotros div.imagenes{
            position: relative;
            top: 0;
        }

        div.sobreNosotros p {
            font-size: 1.5em;
            position: relative;
            left: 0px;
        }

        div.sobreNosotros div.Contacto {    
            position: relative;
            left: 0px;
        }

        footer div.Marca img{
            top: 50px;
            left: 80px;
        }

	}
